<div class="tab-content" id="university-content">

  <!-- Header -->
  <div class="weather-time-container">

    <!-- Tab Dropdown Container -->
    <div class="dropdown-container">
      <select id="content-selector" aria-label="Content Selector">
        <option value="events">Events</option>
        <option value="library">Library</option>
        <option value="food">Food</option>
      </select>
    </div>

    <!-- Food Filter Dropdown Container -->
    <div class="dropdown-container">
      <div id="food-filter-container" style="display: none;">
        <select id="food-category" aria-label="Food Category">
          <option value="all">All</option>
          <option value="menu">Menu Available</option>
          <option value="Holme">Holme</option>
          <option value="Manning">Manning</option>
          <option value="Wentworth">Wentworth</option>
          <option value="Rest of campus">Rest of campus</option>
          <option value="Favourites Nearby">Favourites Nearby</option>
        </select>
      </div>  
    </div>

    <!-- Weather Container -->
    <div class="city-weather">
      <h1 id="city-name">Sydney</h1>
      <p id="weather-description">-- | --°C</p>
    </div>

  </div>
    <div class="content-container" id="events-content">
  </div>
</div>
